CompileFlags:
  Compiler: clang
  Add:
    - -DCPU_MCXA156VLL
    - -DMCXA156_SERIES
    - -D_RTE_
    - -xc
    - -std=gnu11
    - --target=arm-none-eabi
    - -mcpu=cortex-m33
    - -mfpu=fpv5-sp-d16
    - -mfloat-abi=hard
    - -funsigned-char
    - -fshort-enums
    - -fshort-wchar
    - -ffunction-sections
    - -O0
    - -gdwarf-4
    - -Wall
    - -Wextra
    - -Wstrict-prototypes
    - -Wno-packed
    - -Wno-reserved-id-macro
    - -Wno-unused-macros
    - -Wno-documentation-unknown-command
    - -Wno-documentation
    - -Wno-parentheses-equality
    - -Wno-reserved-identifier
    - -IC:/Users/ale87/AppData/Local/Keil_v5/ARM/ARMCLANG/include
    - -IC:/Users/ale87/AppData/Local/Arm/Packs/NXP/MCXA156_DFP/25.12.00/devices/MCXA156
    - -IC:/Users/ale87/AppData/Local/Arm/Packs/NXP/MCXA156_DFP/25.12.00/devices/MCXA156/drivers
    - -IC:/Users/ale87/AppData/Local/Arm/Packs/ARM/CMSIS/6.3.0/CMSIS/Core/Include
  Remove:
    - -fno-PIC

InlayHints:
  Enabled: true
  ParameterNames: true

Diagnostics:
  Includes:
    IgnoreHeader:
      - tipos\.h
      - MCXA156\.h
      - core_cm33\.h
  # Usa .clang-tidy como fuente de verdad para checks y naming
  ClangTidy:
    Add:
      - readability-identifier-naming
      - readability-braces-around-statements
      - readability-else-after-return
      - readability-isolate-declaration
      - bugprone-macro-parentheses
      - misc-*
    Remove:
      - misc-include-cleaner
      - misc-no-recursion
      - misc-unused-parameters
      - modernize-*
      - readability-magic-numbers
